@font-face {
    font-family: Roboto Bold;
    src: url("/app/font/RobotoTTF/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto Medium;
    src: url("/app/font/RobotoTTF/Roboto-Medium.ttf");
}
@font-face{
	font-family: Roboto Light;
    src: url("/app/font/RobotoTTF/Roboto-Light.ttf");
}
@font-face{
	font-family: Roboto Thin;
    src: url("/app/font/RobotoTTF/Roboto-Thin.ttf");
}
@font-face{
	font-family: Roboto ThinItalic;
    src: url("/app/font/RobotoTTF/Roboto-ThinItalic.ttf");
}

@font-face{
    font-family: RobotoCondensed-BoldItalic;
    src: url("/app/font/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf");
}

@font-face{
    font-family: RobotoCondensed-Italic;
    src: url("/app/font/Roboto-Condensed/RobotoCondensed-Italic.ttf");
}

@font-face{
    font-family: RobotoCondensed-Light;
    src: url("/app/font/Roboto-Condensed/RobotoCondensed-Light.ttf");
}

@font-face{
    font-family: RobotoCondensed-LightItalic;
    src: url("/app/font/Roboto-Condensed/RobotoCondensed-LightItalic.ttf");
}

@font-face{
    font-family: RobotoCondensed-Regular;
    src: url("/app/font/Roboto-Condensed/RobotoCondensed-Regular.ttf");
}

/* PLUME */

@font-face{
    font-family: Plume;
    src: url("/app/font/PlumeFF/Plume-Free-Brush-Font.otf");
}

/* Fonts variable */
$i: !important;
$roboto_b: 'Roboto Bold', serif;
$roboto_m: 'Roboto Medium', serif;
$roboto_l: 'Roboto Light', serif;
$roboto_t: 'Roboto Thin', serif;
$roboto_ti: 'Roboto ThinItalic', serif;

$roboto-c_b: 'RobotoCondensed-Bold', sans-serif;
$roboto-c_bt: 'RobotoCondensed-BoldItalic', sans-serif;
$roboto-c_t: 'RobotoCondensed-Italic', sans-serif;
$roboto-c_l: 'RobotoCondensed-Light', sans-serif;
$roboto-c_lt: 'RobotoCondensed-LightItalic', sans-serif;
$roboto-c_r: 'RobotoCondensed-Regular', sans-serif;

$plume: 'Plume', serif;

/* Colors variable */
$brown: #424242;
$light-brown: #C5BD99;
$white: #FFFFFF;
$dark-brown:  #701112;

/* Size variable */
$small: 768px;
$medium: 992px;
$large: 1200px;

/* MAIN BLOCK */

body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; 
}

.btn:focus{
    outline: none $i;
}

.form-control:focus{
    border-color: #111;
    box-shadow: none $i;
}

a:hover{
    text-decoration: none;
}

a:focus{
    outline: none $i;
    text-decoration: none;
}

.cf{
    padding: 0 $i;
}

.top_block{
    position: relative;
    overflow: hidden;
    padding: 0;
}

.top_block:before{
    content: ' ';
    // background-image: url("/app/images/wallpaper_2.png");
    // background-size: cover;
    opacity: 0.5;
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}

.brand{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    // outline: 1px solid red;
    height: 120px;
}

.brand-name{
    font-family: $plume;
    font-size: 8vw; //126px 10em
    margin-top: 0px;
}

.brand-desc{
    font-family: $plume;
    font-size: 4vw; //126px 10em
    margin-top: -25px;
}

.order-block{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    left: 0;
    right: 0;
    width: 150px;
    height: 50px;
    text-align: right;
    padding: 0;
}

.order-button{
   background-color: transparent;
   color: #111;
   font-family: $roboto_m;
   font-size: 22px;
   border: 3px solid #111;
   border-radius: 0px;
   padding: 0 5px 0 5px;
}

.glyphicon-envelope{
    font-size: 19px $i;
}

.btn:focus {
    outline: none $i;
}

/* NAVIGATION-MENU */

.nav-menu{
    padding: 0;
}

.nv{
    // padding: 0 5px 0 5px;
    padding: 0;
    overflow: hidden;
}

.nav-option{
    font-family: $roboto-c_b;
    letter-spacing: 0.05em;
    font-size: 2.7em; // 2.03vw, 2.7em, 24pt
    color: #111;
    overflow: hidden;
}

/* VIDEO BLOCK */

li{
    list-style-type: none;
    margin-bottom: 20px;
}

.video-table{
    margin-top: 20px;
}

.video{
    width: 100%;
    height: 400px;
    display: block;
}


/* PHOTO BLOCK */

.photo_block{
    margin: 10px 0 20px 0;
    padding: 0;
    overflow: hidden;
}

.image-block{
    // padding: 0px 5px 5px 5px;
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.image{
    display: block;
    max-width: 100%;
    // min-height: 280px;
    max-height: 100%;
    height: auto;
}

.image:hover {
  animation: pulse 3s;
}

.i{
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

.photo-set-title{
    font-family: $roboto-t;
    letter-spacing: 0.05em;
    font-size: 18pt; // 2.03vw, 2.7em, 24pt
    color: #000;
    text-align: left;
    overflow: hidden;
}


.set-title{
    font-family: $roboto-t;
    letter-spacing: 0.05em;
    font-size: 18pt; // 2.03vw, 2.7em, 24pt
    color: #FFF;
    overflow: hidden;
    // outline: 1px solid red;
}

/* COMMING SOON */

.comming_soon{
    margin: 100px 0 20px 0;
    padding: 0;
    min-height: 450px;
    vertical-align: middle;
}


/* FOOTER */

.em-us{
    padding-left: 11px;
}

.footer{
    width: 100%;
    height: 40px;
    background-color: #000;
    text-align: center;
    padding-top: 10px;
    margin-top: 40px;
}

.footer-text{
    font-family: $roboto_t;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

/* SLIDER MODAL */
//===============================================
//===============================================

// .modal{
//     display: none $i;
// }

.modal-dialog{
    width: 100% $i;
    margin: 0 $i;
}

.modal-content{
    background-color: transparent $i;
}

.modal-w{
    width: auto $i;
    margin: 0 $i;
}

.modal-slider{
    background-color: rgba(0, 0, 0, 0.8) $i;
    color: #FFF;
    border: none $i;
}

.my-slider{
    position: relative;
    height: auto;
    width: auto;
}

.item{
    width: auto;
    position: absolute;
    top: 50%;
}

.item img{
    // object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    // border: 2px solid red;

    // position: absolute;
    position: relative;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}

.slider-close{ 
    color: #FFF $i;
    font-size: 32px;
}

.slick-slide{
    min-height: 0px $i;
}


//===============================================
//===============================================

/* EMAIL US MODAL */

.modal_us{
    top: 50px $i;
    bottom: 50px $i;
}

.modal-header, .modal-footer{
    border-bottom: none $i; 
    border-top: none $i;  
}

.modal-header{
    padding-bottom: 0;
}

.modal-footer{
    padding: 0;
}

.mc{
    color: #FFF;
    background-color: #FFF $i;
    border: 2px solid #111;
    border-radius: 0px;
}

.close{
    color: #111 $i;
    opacity: 0.8 $i;
    line-height: 0.5;
    outline: none $i;
}

.s-close{ 
    font-size: 32px;
}

textarea {
    resize: none;
}

.fc{
    border: 2px solid #111;
    border-radius: 0 $i;
    font-family: $roboto_l;
    font-size: 14px;
}

.send-button{
    background-color: #111;
    color: #FFF;
    font-family: $roboto_m;
    font-size: 18px;
    letter-spacing: 0.0625em;
    border-radius: 0 $i;
}

.send-button:hover{
    color: rgb(255, 246, 0);
}

.glyphicon-send{
    font-size: 16px $i;
}

.swal2-title{
    font-family: $roboto_m;
    color: #111 $i;
}

.swal2-styled.swal2-confirm{
    background-color: #111 $i;
    color: #FFF;
    font-family: $roboto_m;
    font-size: 18px;
    letter-spacing: 0.0625em;
    border-radius: 0 $i;
}

/* Preloader */

.preloader{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #333 url('/app/images/wallpaper_2.png') no-repeat center center;
}



/* MEDIA */

@media screen and (max-width: 1200px) {

.brand-name{
    margin-top: 10px;
    font-size: 12vw; //126px 10em
}

.nav-option{
    font-size: 3vw;
}

.brand-desc{
    margin-top: 0;
    font-size: 4vw; //126px 10em
}

}

@media screen and (max-width: 992px) {

.brand-name{
    margin-top: 10px;
    font-size: 12vw; //126px 10em
}

.nav-option{
    font-size: 3vw;
}

.brand-desc{
    margin-top: 0;
    font-size: 4vw; //126px 10em
}

}

@media screen and (max-width: 768px) {

.brand-name{
    margin-top: 40px;
    font-size: 12vw; //126px 10em
}

.nav-option{
    font-size: 3vw;
}

.brand-desc{
    margin-top: 0;
    font-size: 4vw; //126px 10em
}

}

@media (min-width: 768px){
    .md{
        width: 600px;
        margin: 30px auto;
    }

    .modal-dialog{
        width: 100% $i;
        margin: 0 $i;
    }
}

@media screen and (max-width: 480px) {

.brand-name{
    margin-top: 5px;
    font-size: 14vw; //126px 10em
}

.brand-desc{
    margin-top: 0;
    font-size: 6vw; //126px 10em
}



}














