@font-face {
  font-family: Roboto Bold;
  src: url("/app/font/RobotoTTF/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto Medium;
  src: url("/app/font/RobotoTTF/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto Light;
  src: url("/app/font/RobotoTTF/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto Thin;
  src: url("/app/font/RobotoTTF/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto ThinItalic;
  src: url("/app/font/RobotoTTF/Roboto-ThinItalic.ttf");
}

@font-face {
  font-family: RobotoCondensed-BoldItalic;
  src: url("/app/font/Roboto-Condensed/RobotoCondensed-BoldItalic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Italic;
  src: url("/app/font/Roboto-Condensed/RobotoCondensed-Italic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Light;
  src: url("/app/font/Roboto-Condensed/RobotoCondensed-Light.ttf");
}

@font-face {
  font-family: RobotoCondensed-LightItalic;
  src: url("/app/font/Roboto-Condensed/RobotoCondensed-LightItalic.ttf");
}

@font-face {
  font-family: RobotoCondensed-Regular;
  src: url("/app/font/Roboto-Condensed/RobotoCondensed-Regular.ttf");
}

/* PLUME */
@font-face {
  font-family: Plume;
  src: url("/app/font/PlumeFF/Plume-Free-Brush-Font.otf");
}

/* Fonts variable */
/* Colors variable */
/* Size variable */
/* MAIN BLOCK */
body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #191919;
}

.top {
  background-image: url("/app/images/top.jpg");
  background-size: cover;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9;
  border: none;
  outline: none;
}

.top:hover {
  opacity: 0.6;
}

.btn:focus {
  outline: none !important;
}

.form-control:focus {
  border-color: #111;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none !important;
  text-decoration: none;
}

.cf {
  padding: 0 !important;
  display: none;
}

.top_block {
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 0;
  background-color: #FFF;
}

video#video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.brand-name {
  font-family: "Plume", serif;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 0px;
}

.order-block {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 250px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 0;
}

.order-button {
  background-color: transparent;
  color: #FFF;
  font-family: "Roboto Medium", serif;
  font-size: 22px;
  border: 3px solid #FFF;
  -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0px;
          border-radius: 0px;
  padding: 0 5px 0 5px;
}

.order-button:hover {
  color: #FFF;
}

.order-button:active {
  color: #FFF;
}

.order-button:focus {
  color: #FFF;
}

.order-button:visited {
  color: #FFF;
}

.glyphicon-envelope {
  font-size: 19px !important;
}

.btn:focus {
  outline: none !important;
}

/* NAVIGATION-MENU */
.navbar {
  margin-top: 300px;
  margin-bottom: 30px;
  background-color: #050505;
}

.nv {
  padding: 0 0 5px 0;
}

.nav-option {
  font-family: "Roboto Thin", serif;
  font-weight: 500;
  font-size: 2.7em;
  color: white;
  overflow: hidden;
  border: 1px solid #FFF;
  max-width: 210px;
  margin-top: 15px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-option:hover {
  background-color: white;
  color: #000;
}

.icon-bar {
  background-color: #FFF;
}

.sidenav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  overflow-y: scroll;
  padding-top: 60px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidenav-mobile .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px 0 0;
  text-decoration: none;
  font-size: 45px;
  color: #818181;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.closebtn:hover {
  color: #FFF;
}

.nm {
  padding: 0 60px 0 60px;
}

.sidenav-mobile .nav-mobile {
  font-family: "Roboto Thin", serif;
  font-size: 2.7em;
  width: 100%;
  padding: 0;
  color: #FFF;
  overflow: hidden;
  border: 1px solid #FFF;
  text-decoration: none;
  cursor: pointer;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-mobile:hover {
  color: #111;
}

li .nav-mobile {
  float: none !important;
}

.lang {
  margin: 0 5px 0 5px;
}

/* VIDEO BLOCK */
.video_block {
  margin-bottom: 110px;
}

li {
  list-style-type: none;
  margin-bottom: 20px;
}

.video-table {
  margin-top: 0;
}

tr:hover {
  background-color: transparent !important;
}

td {
  border-top: none !important;
  border-bottom: 2px solid #828282 !important;
}

.video-v {
  width: 100%;
  height: 400px;
  display: block;
}

.video_title {
  font-family: "Roboto Medium", serif;
  font-size: 2.4em;
  color: white;
  margin-bottom: 0;
  text-transform: uppercase;
}

.video_desc {
  font-family: "Roboto Thin", serif;
  font-size: 1.4em;
  color: white;
}

/* PHOTO BLOCK */
.photo_block {
  margin: 0px 0 110px 0;
  padding: 0;
  overflow: hidden;
}

.image-block {
  overflow: hidden;
  width: 300px;
  height: 300px;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.image:hover {
  -webkit-animation: pulse 3s;
          animation: pulse 3s;
}

.i {
  padding: 0 10px 0 10px;
  margin-top: 10px;
}

.photo-set-title {
  font-family: "Roboto Thin", serif;
  letter-spacing: 0.05em;
  font-size: 18pt;
  color: #FFF;
  text-align: left;
  overflow: hidden;
}

.set-title {
  font-family: "Roboto Thin", serif;
  letter-spacing: 0.05em;
  font-size: 18pt;
  color: #FFF;
  overflow: hidden;
}

/* CONTACTS */
.contacts_block {
  margin-bottom: 110px;
  min-height: 450px;
}

.name {
  color: #FFF;
}

.text {
  font-size: 18px;
  font-weight: 100;
}

.name_d {
  color: #FFF;
}

.social {
  margin: 5px;
}

.slash {
  font-size: 24px;
  font-weight: 100;
}

/* COMMING SOON */
.comming_soon {
  margin: 5px 0 110px 0;
  padding: 0;
  min-height: 450px;
  vertical-align: middle;
}

/* FOOTER */
.em-us {
  padding-left: 11px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: #000;
  padding-top: 10px;
}

.lang-f {
  margin-top: 20px;
}

.inst {
  height: 70px;
}

.inst-profile {
  display: inline-block;
  padding: 5px 0 5px 0;
}

.inst-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Light", serif;
  font-size: 14px;
}

.inst-link:hover {
  color: white;
}

.footer-text {
  font-family: Arial;
  font-size: 18px;
  padding: 23px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
}

.contrast {
  filter: contrast(5%);
  -webkit-filter: contrast(5%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contrast:hover {
  filter: contrast(50%);
  -webkit-filter: contrast(50%);
}

/* SLIDER MODAL */
.modal-dialog {
  width: 100% !important;
  margin: 0 !important;
}

.modal-content {
  background-color: transparent !important;
}

.modal-w {
  width: auto !important;
  margin: 0 !important;
}

.modal-slider {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #FFF;
  border: none !important;
}

.my-slider {
  position: relative;
  height: auto;
  width: auto;
}

.item {
  width: auto;
  position: absolute;
  top: 50%;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: relative;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider-close {
  color: #FFF !important;
  font-size: 32px;
}

.slick-slide {
  min-height: 0px !important;
}

/* EMAIL US MODAL */
.modal_us {
  top: 50px !important;
  bottom: 50px !important;
}

.modal-header, .modal-footer {
  border-bottom: none !important;
  border-top: none !important;
}

.modal-header {
  padding-bottom: 0;
}

.modal-footer {
  padding: 0;
}

.mc {
  color: #FFF;
  background-color: #FFF !important;
  border: 2px solid #111;
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

.close {
  color: #111 !important;
  opacity: 0.8 !important;
  line-height: 0.5;
  outline: none !important;
}

.s-close {
  font-size: 32px;
}

textarea {
  resize: none;
}

.fc {
  border: 2px solid #111;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
  font-family: "Roboto Light", serif;
  font-size: 14px;
}

.send-button {
  background-color: #111;
  color: #FFF;
  font-family: "Roboto Medium", serif;
  font-size: 18px;
  letter-spacing: 0.0625em;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}

.send-button:hover {
  color: #fff600;
}

.glyphicon-send {
  font-size: 16px !important;
}

.swal2-title {
  font-family: "Roboto Medium", serif;
  color: #111 !important;
}

.swal2-styled.swal2-confirm {
  background-color: #111 !important;
  color: #FFF;
  font-family: "Roboto Medium", serif;
  font-size: 18px;
  letter-spacing: 0.0625em;
  -webkit-border-radius: 0 !important;
          border-radius: 0 !important;
}

/* MEDIA */
@media screen and (min-width: 1440px) and (max-width: 2560px) {
  .brand-name {
    font-size: 266px;
  }
}

@media screen and (max-width: 1440px) {
  .brand-name {
    font-size: 206px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1200px) {
  .brand-name {
    font-size: 186px;
    margin-top: 50px;
  }
  .nav-option {
    font-size: 3vw;
  }
}

@media screen and (max-width: 992px) {
  .brand-name {
    font-size: 166px;
    line-height: 70%;
    margin-top: 20px;
    padding: 0 80px 50px 80px;
  }
  .nav-option {
    font-size: 3vw;
  }
  .brand-desc {
    margin-top: 0;
    font-size: 4vw;
  }
}

@media screen and (max-width: 768px) {
  .brand-name {
    font-size: 166px;
    margin-top: 20px;
    line-height: 70%;
    padding: 0 50px 50px 50px;
  }
  .nav-option {
    font-size: 3vw;
  }
  .brand-desc {
    margin-top: 0;
    font-size: 4vw;
  }
  /* Navigation */
}

@media screen and (max-width: 726px) {
  .brand-name {
    font-size: 146px;
    margin-top: 40px;
    line-height: 70%;
    padding: 0 50px 50px 50px;
  }
}

@media screen and (max-width: 636px) {
  .brand-name {
    font-size: 126px;
    margin-top: 60px;
    line-height: 70%;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .md {
    width: 600px;
    margin: 30px auto;
  }
  .modal-dialog {
    width: 100% !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 480px) {
  .brand-name {
    font-size: 106px;
    line-height: 100%;
    margin-top: 40px;
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .brand-name {
    font-size: 106px;
    line-height: 100%;
    margin-top: 40px;
    padding: 0;
  }
  .video_block {
    padding: 0 !important;
  }
}

@media screen and (max-width: 375px) {
  .brand-name {
    font-size: 96px;
    line-height: 100%;
    margin-top: 40px;
    padding: 0;
  }
}

@media screen and (max-width: 320px) {
  .brand-name {
    font-size: 76px;
    line-height: 100%;
    margin-top: 60px;
    padding: 0;
  }
}
