<div class="col-xs-12">
	<div class="comming_soon" align="center">
		<h1 class="brand-name">COMING SOON...</h1>
		<p class="brand-desc">be patient & watch now</p>
		<div class="col-xs-4" align="right">
			<a href="#/Photo">
				<button class="btn order-button animated pulse">PHOTO</button>
			</a>
		</div>
		<div class="col-xs-4" align="center">
			<p class="brand-desc">or</p>
		</div>
		<div class="col-xs-4" align="left">
			<a href="#/Video">
				<button class="btn order-button animated pulse">VIDEO</button>
			</a>
		</div>
	</div>
</div>