<div class="col-xs-12 comming_soon">
	<div class="comming_soon" align="center">
		<h1 class="brand-name">Coming soon...</h1>
		<p class="brand-desc">be patient & watch now</p>
		<div class="col-xs-4" align="right">
			<a href="#/Photo">
				<button class="btn order-button animated pulse">{{ 'nav_1' | translate }}</button>
			</a>
		</div>
		<div class="col-xs-4" align="center">
			<p class="brand-desc">or</p>
		</div>
		<div class="col-xs-4" align="left">
			<a href="#/Video">
				<button class="btn order-button animated pulse">{{ 'nav_2' | translate }}</button>
			</a>
		</div>
	</div>
</div>










