<div class="col-xs-12 contacts_block">
	<div class="col-xs-12 col-sm-6" align="center">
		<div>
			<img src="/app/images/top.jpg" alt="romek" width="125px" height="125px" class="img-circle hvr-grow">
		</div>
		<h3 class="name">{{ 'name_1' | translate }}</h3>
		<p class="name_d">
			<span class="text">{{ 'photographer' | translate }}</span> <span class="slash">/</span> 
			<span class="text">{{ 'video maker' | translate }}</span> <span class="slash">/</span> 
			<span class="text">{{ 'web developer' | translate }}</span>
		</p>
		<!-- Instagram -->
		<span class="social">
			<a href="https://www.instagram.com/romek_srv" target="_blank" class="inst-link">
				<img src="/app/images/icons/instagram-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
		<!-- Vimeo -->
		<span class="social">
			<a href="https://vimeo.com/romeksrv" target="_blank" class="inst-link">
				<img src="/app/images/icons/vimeo-social-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
		<!-- Telegram -->
		<span class="social">
			<a href="https://web.telegram.org/#/im?p=@RomekSRV" target="_blank" class="inst-link">
				<img src="/app/images/icons/telegram-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
		<!-- LinkedIn -->
		<span class="social">
			<a href="https://www.linkedin.com/in/roman-sierikov/" target="_blank" class="inst-link">
				<img src="/app/images/icons/linkedin-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
	</div>
	<div class="col-xs-12 col-sm-6" align="center"> 
		<div>
			<img src="/app/images/top.jpg" alt="gleb" width="125px" height="125px" class="img-circle hvr-grow">
		</div>
		<h3 class="name">{{ 'name_2' | translate }}</h3>
		<p class="name_d">
			<span class="text">{{ 'photographer' | translate }}</span> <span class="slash">/</span> 
			<span class="text">{{ 'video maker' | translate }}</span>
		</p>
		<!-- Instagram -->
		<span class="social">
			<a href="https://www.instagram.com/glebstoyko" target="_blank" class="inst-link">
				<img src="/app/images/icons/instagram-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
		<!-- Telegram -->
		<span class="social">
			<a href="https://web.telegram.org/#/im?p=" target="_blank" class="inst-link">
				<img src="/app/images/icons/telegram-logo.png" width="25px" height="25px" class="contrast hvr-grow">
			</a>
		</span>
	</div>
</div>