<div class="modal fade" id="emailUs" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="s-close">&times;</span></button>
        <h4 class="set-title" align="center"></h4>
      </div>
      <div class="modal-body">

        <form name="emailUs" method="POST" ng-submit="sendEmail(info)">

          <div class="form-group">
            <input
                  type="text"
                  name="userName"
                  class="form-control fc"
                  placeholder="Alex"
                  ng-model="info.userName"
                  maxlength="50"
                  required />
            </div>

            <div class="form-group">
                <p class="text-danger" ng-show="emailUs.userName.$invalid && emailUs.userName.$dirty">Name field is empty!</p>
            </div>

            <div class="form-group">
            <input
                  type="email"
                  name="userEmail"
                  class="form-control fc"
                  placeholder="alex@gmail.com"
                  ng-model="info.userEmail"
                  maxlength="100"
                  required />
            </div>
            
            <div class="form-group">
                <p class="text-danger" ng-show="emailUs.userEmail.$invalid && emailUs.userEmail.$dirty">Email field is empty!</p>
            </div>

            <div class="form-group">
            <textarea
                  rows="4" 
                  cols="50"
                  name="userText"
                  class="form-control fc"
                  placeholder="Here you can write some description or question for us..."
                  ng-model="info.userText"
                  maxlength="500"
                  />
            </textarea>
            </div>
            

            <div class="modal-footer">                
                <button class="btn send-button" ng-disabled="emailUs.$invalid">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                SEND</button>
            </div>

        </form>

      </div>
    </div>
  </div>
</div>