<div class="row-fluid footer" align="center">
	<div class="col-xs-12 col-md-4 inst" align="left">

		<div class="col-xs-12">
			<span class="inst-profile">
				<a href="https://www.instagram.com/romek_srv" target="_blank" class="inst-link">
					<img src="/app/images/icons/instagram-logo.png" width="20px" height="20px" class="contrast">
					@romek_srv
				</a>
			</span>
		</div>
		<div class="col-xs-12">
			<span class="inst-profile">
				<a href="https://www.instagram.com/glebstoyko" target="_blank" class="inst-link">
					<img src="/app/images/icons/instagram-logo.png" width="20px" height="20px" class="contrast">
					@glebstoyko
				</a>
			</span>
		</div>
		
	</div>
	<div class="col-xs-12 col-md-4 hidden-xs">
		<p class="footer-text">All right reserved The Creators. © 2017</p>
	</div>
	<div class="col-xs-12 col-md-4">
		<!-- change language -->
	</div>
</div>