<div class="col-xs-12 top_block">
	<video id="video" autoplay muted loop>
	<source src="app/images/test.mp4" type="video/mp4">
	 <!-- add more types of video & poster if video doesn't working -->
	</video>
	
	<div class="col-xs-12" align="center">
		<h1 class="brand-name">THE CREATORS</h1>
	</div>
	<div class="col-xs-12 order-block">
		<button class="btn order-button hvr-grow-shadow" data-toggle="modal" data-target="#emailUs">
		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		EMAIL US</button>
	</div>
</div>