<div class="col-xs-12 top_block">
	<video id="video" poster="/app/images/waller.jpg" playsinline autoplay muted loop tabindex="0">
	<source src="app/video/video.mp4" type="video/mp4">
	<source src="app/video/video.ogv" type="video/ogv">
	<source src="app/video/video.webm" type="video/webm">
	</video>
	
	<div class="col-xs-12" align="center">
		<h1 class="brand-name">THE CREATORS</h1>
	</div>
	<div class="col-xs-12 order-block">
		<button class="btn order-button hvr-grow-shadow" data-toggle="modal" data-target="#emailUs">
		<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
		{{ 'email us' | translate }}</button>
	</div>
</div>